/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100vh;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.language-selection img {
    width: 50px;
    height: auto;
    margin: 10px;
}

#menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 80%;
    background-color: #333;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 1000;
    padding-top: 50px;
}

#menu h2 {
    color: white;
    text-align: center;
}

.menu-btn {
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
}

.menu-btn:hover {
    background-color: #575757;
}

.submenu {
    display: none;
    padding-left: 20px;
}

#loading-indicator {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    display: none;
}

#notification, #message-box, #search-box, #searchResults, #detail-modal, #question-box, #itinerary-box, #feedback-box {
    display: none;
}

.carousel {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.carousel img {
    margin-right: 10px;
    height: 150px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    z-index: 900;
}


#message-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

@media (max-width: 768px) {
    .modal-content {
        width: 95%;
        margin: 10% auto;
    }

    #menu {
        width: 200px;
        padding-top: 40px;
    }

    .menu-btn {
        font-size: 16px;
    }

    footer button {
        font-size: 30px;
        margin: 0 5px;
    }

    #message-box {
        width: 90%;
        left: 5%;
    }
}

@media (max-width: 480px) {
    #menu {
        width: 150px;
        padding-top: 30px;
    }

    .menu-btn {
        font-size: 14px;
    }

    footer button {
        font-size: 16px;
        margin: 0 3px;
    }
}
