.menu-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 94%;
  background-color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.menu-footer.hidden {
  display: none;
}

.menu-details {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.menu-actions {
  display: flex;
  gap: 10px;
}

.footer-btn {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.start-btn {
  background-color: #007bff; /* Azul */
  color: white;
}

.start-btn:hover {
  background-color: #0056b3;
}

.back-btn {
  background-color: #f8f9fa; /* Cinza claro */
  color: #333;
  border: 1px solid #ccc;
}

.back-btn:hover {
  background-color: #e2e6ea;
}

.cancel-btn {
  background-color: #dc3545; /* Vermelho */
  color: white;
}

.cancel-btn:hover {
  background-color: #a71d2a;
}
